{
    "parser": "@babel/eslint-parser",
    // "extends": ["plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true
        },
        "plugins": ["prettier"]
    }
}
